*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #2f9bb3;
}
.contentBox{
    background-color: #e6e5b6;
    border: 5px solid greenyellow;
    width: 80%;
    margin: 0 auto;
    height: 805px;
    margin-top: 80px;
}
.tableBox{
    text-overflow: hidden;
}
.tableBox table{
    width: 100%;
    height: 100%;
}